@charset "utf-8";

body {
  font-family: 'Lato', sans-serif;
}

.container {
	width: 60%;
	margin: 0 auto;
}

/* fixed nav bar */
.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #f6f6f6;
	z-index: 10000;
	height: 90px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header #header-title,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

.cbp-af-header #header-title,
.cbp-af-header nav a {
	line-height: 90px;
}

.cbp-af-header #header-title {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 3em;
	margin: 0;
	float: left;
}

.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.cbp-af-header nav a:hover {
	color: #333;
}

.clearfix {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2.875em 1.875em 1.875em;
}

h2 {
	margin: 0 0 0.3em;
	padding: 1em 0 0.5em;
	border-bottom: 1px solid #ddd;
	font-size: 1.8em;
	font-weight: 300;
}

.example {
	margin-bottom: 1em;

	span {
		background-color: #fae3ff;
		padding: 5px;
		cursor: pointer;
	}
}

ul {
	display: none;
}

.section {
	p {
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.35;
		padding: 0em 0 0.5em;
		margin: 0;
	}
}