@charset "utf-8";
$light-purple: #fae3ff;
$dark-purple: #59006c;
$almost-white: #f6f6f6;

body {
  font-family: 'Lato', sans-serif;
}

.container {
	width: 60%;
	margin: 0 auto;
}

/* fixed nav bar */
.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $almost-white;
	z-index: 10000;
	height: 90px;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	box-shadow: 0 2px rgba(0,0,0,.1);
}

.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header #header-title,
.cbp-af-header nav {
	display: inline-block;
	position: relative;

	a {
		line-height: 90px;
	}
}

.cbp-af-header #header-title {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 3em;
	margin: 0;
	float: left;
	line-height: 90px;
}

.cbp-af-header nav {
	float: right;

	a {
		color: $dark-purple;
		font-weight: 700;
		margin: 0 0 0 20px;
		font-size: 1.4em;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.clearfix {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 2.875em 1.875em 1.875em;
}

h1 {
	font-size: 2em;
	margin-top: 1em;
}

h2 {
	margin: 1em 0 0.3em;
	padding: 0em 0 0.5em;
	border-bottom: 1px solid #ddd;
	font-size: 1.8em;
	font-weight: 300;
}

.example {
	margin-bottom: 1em;

	span {
		background-color: $light-purple;
		padding: 5px;
		cursor: pointer;
		-webkit-transition: .2s;
		-moz-transition: .2s;
		-o-transition: .2s;
		transition: .2s;
		&:hover {
			background-color: $dark-purple;
			color: #fff;
		}
	}
}

ul {
	display: none;
	padding: 2em;
	background-color: $almost-white;

	li {
		font-size: 1em;
		font-weight: 300;
		line-height: 1.35;

		a {
			font-size: 1em !important;
		}
	}
}

.section {
	a {
  		text-decoration: none;
		font-weight: 600;
		font-size: 1.3em;
		color: $dark-purple;
		&:hover {
			text-decoration: underline;
		}
	}

	p {
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.35;
		padding: 0em 0 0.5em;
		margin: 0;
	}
}

#contact a {
	font-size: 1.1em !important;
}