@charset "utf-8";

body {
  font-family: 'Lato', sans-serif;
  background-color: #d5d2d8;
}

.container {
  width: 55%;
  margin: 0 auto;
  background-color: #fff;
  padding: 1% 5% 5% 5%;
}

h1 {
  font-weight: 600;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #553285;
}

h2 {
  font-weight: 400;
  border-bottom: 2px solid #553285;
  margin-top: 5%;
}

a {
  text-decoration: none;
  color: #7b52ab;
  &:hover {
    color: #b3adb9;
  }
}

.examples {
  margin-left: 5%;
}

ul {
  margin: 0;
  font-weight: 300;
}

#explainer {
  padding-bottom: 30px;
  border-bottom: 5px solid #553285;
}

p {
  font-weight: 300;
  margin: 0;
  a {
    font-weight: 400;
  }
}

.circle-text {
    width: 3%;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height:0;
      padding-bottom: 100%;
      background: #7b52ab; 
      -moz-border-radius: 50%; 
      -webkit-border-radius: 50%; 
      border-radius: 50%;
    }
}


.contact {
  margin-top: 10%;
  font-style: italic;
  font-weight: 600;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}