@charset "utf-8";

body {
  font-family: 'Roboto', sans-serif;
  background-color: #d5d2d8;
}

.container {
  width: 55%;
  margin: 0 auto;
  background-color: #fff;
  padding: 1% 5% 5% 5%;
}

h1 {
  font-weight: 600;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #553285;
  border-bottom: 5px solid #553285;
}

a {
  text-decoration: none;
  color: #7b52ab;
  &:hover {
    color: #b3adb9;
  }
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}