---
title: NBN Web Tools
---
<div class="container">
	<h1>NBN Web Tools</h1>
	<p><strong>So you want to make your story interactive?</strong><br />Here's a handy guide to figure out what kinds of tools you can use for online storytelling.</p>
	<p>How much code is involved?</p>
	<div class="rating-1"></div>
	<div class="rating-2"></div>
	<div class="rating-3"></div>
	<h2>Timelines, Maps and Charts</h2>
	<p><a href="http://timeline.knightlab.com/">TimelineJS</a><br />Interactive timelines that support media embeds from Twitter, Flickr, Google Maps, YouTube, Vimeo, Vine, Dailymotion, Wikipedia, SoundCloud and more.</p>
	<p><a href="https://www.google.com/maps/preview">Google Maps</a><br />Drop pins to make embeddable maps.</p>
	<p><a href="http://storymap.knightlab.com/">StoryMapJS</a><br />Authoring tool to tell location-based timelines and stories.</p>
	<p><a href="http://www.highcharts.com/">Highcharts</a><br />Interactive charts and maps (line charts, area charts, bar charts, pie charts, heat maps, and more).</p>
	<p><a href="https://www.mapbox.com/">Mapbox</a><br />Interactive maps that can be customized with fonts, textures and illustrations, and markers. It also has an open-source JavaScript library for more creative control and customization.</p>
	<p><a href="http://leafletjs.com/">Leaflet</a><br />An open-source JavaScript library for mobile-friendly interactive maps.</p>
	<p><a href="http://d3js.org">D3</a><br />JavaScript library that manipulates documents based on data using HTML, SVG, and CSS.</p>

	<h2>Audio and Video</h2>
	<p><a href="http://soundcite.knightlab.com">SoundCiteJS</a><br />Inline audio players for embedding short clips of music, spoken word, or natural sound.</p>
	<p><a href="https://vimeo.com/">Vimeo</a><br />Embed Vimeo videos, can also be used for full-width videos</p>
	<p><a href="http://youtube.com">Youtube</a><br />Embed Youtube videos</p>

	<h2>Images</h2>
	<p><a href="http://juxtapose.knightlab.com/">JuxtaposeJS</a><br />Image slider for comparing photos and gifs to highlight then/now or before/after stories.</p>
	<p><a href="http://lokeshdhakar.com/projects/lightbox2/">Lightbox</a><br />Pop out images, great for showcasing scanned documents or images</p>

	<h2>Social Media</h2>
	<p><a href="https://storify.com/">Storify</a><br />Social storytelling by embedding tweets, photos, gifs, videos, and audio.</p>

	<h2>Quizzes and Flowcharts</h2>
	<p id="explainer"><i>Coming soon!</i></p>

	<h2>Best practices for working with NBNteractive</h2>
	<p><b>First,</b> brainstorm what you envision for your project. What kind of story are you trying to tell and how can interactive elements communicate it? Approach the interactive editors with some ideas - you (as the writer or editor) understand the story best. If you aren't sure how to translate your story to the web, pick out key elements you wish to highlight (i.e. photos, nonlinear narrative, data analysis and explanation) and discuss it with NBNteractive.</p>
	<p><b>Second,</b> make sure you aren't adding interactivity just for interactivity's sake. It's great to want to do something with parallax scrolling (because sometimes it looks really cool), but remember that every visual or interactive design choice should serve a purpose that helps the reader in some way. Although it's important to know the types of tools and technologies available for you, it's equally important to lead with ideas.</p>
	<p><b>Third,</b> work closely with Interactive throughout the reporting process. Traditionally, the Interactive section has been a service desk where people hand off finished stories and ask "make this interactive." Though this may apply for some stories (especially if they're time sensitive), there's less visually interesting things that can be done with it. It's like making brownies - if you thrust a freshly-baked batch at someone and ask them to make mint chocolate chip brownies, they might be able to put some on the top, but it won't taste half as good as it would've been if you'd added the mint chocolate chips before they went in the oven. Work with Interactive even when it's just a half-baked idea: we'll make it delicious.</p>
	<br />
	<p>For most projects (low or medium touch), allow at least 2 weeks for the interactive team to work on your project.</p>
	<p><strong>Low touch</strong></p>
	<p>Reusing existing templates (click on map points for a corresponding story, image landing page, click and fade buttons, parallax stories, button stories, documents, slideshows)</p>
	<p><strong>Medium touch</strong></p>
	<p>Something must be custom built but the project will be "built within the CMS."</p>
	<p><strong>High touch</strong></p>
	<p>Something must be custom built "outside of the CMS."</p>
</div>