---
title: NBN Web Tools
---
<div class="container">
	<div class="cbp-af-header">
		<div class="cbp-af-inner">
			<h1 id="header-title">NBN Web Tools</h1>
			<nav>
				<a href="#" id="nav-tools">Tools</a>
				<a href="#" id="nav-practices">Best Practices</a>
				<a href="#" id="nav-contact">Contact</a>
			</nav>
		</div>
	</div>

	<header class="clearfix"></header>

	<div id="tools" class="section">
		<div class="tools-container">
			<h1>Tools</h1>
			<h2>Timelines, Maps and Charts</h2>
			<p><a href="http://timeline.knightlab.com/">TimelineJS</a><br />Interactive timelines that support media embeds from Twitter, Flickr, Google Maps, YouTube, Vimeo, Vine, Dailymotion, Wikipedia, SoundCloud and more</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/breaking-down-the-unrest-in-ukraine/">Breaking down the unrest in Ukraine</a> - TimelineJS outlining the events leading up to the demonstrations and protests in the Ukraine</li>
			</ul>
			<br />
			<p><a href="https://www.google.com/maps/preview">Google Maps</a><br />Drop pins to make embeddable maps</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/harsha-maddula-timeline/">Tracing Harsha Maddula's whereabouts</a> - interactive time-based map tracking the disappearance of missing student Harsha Maddula</li>
			</ul>
			<br />
			<p><a href="http://storymap.knightlab.com/">StoryMapJS</a><br />Authoring tool to tell location-based timelines and stories</p>
			<br />
			<p><a href="http://www.highcharts.com/">Highcharts</a><br />Interactive charts and maps (line charts, area charts, bar charts, pie charts, heat maps, and more)</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/the-dm-diet-calorie-breakdown/">The DM Dancer Diet</a> - pie chart of Dance Marathon 2014 dancers' food consumption</li>
				<li><a href="http://www.northbynorthwestern.com/story/a-holistic-look-at-sex-vs-shower/">A holistic look at "Sex or shower?"</a> - graph results of the NBN "sex or shower" survey during Dance Marathon 2014</li>
			</ul>
			<br />
			<p><a href="https://www.mapbox.com/">Mapbox</a><br />Interactive maps that can be customized with fonts, textures and illustrations, and markers. It also has an open-source JavaScript library for more creative control and customization</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/the-wide-world-of-terror/">The wide world of terror</a> - interactive map of global terrorism and conflicts</li>
				<li><a href="http://www.northbynorthwestern.com/story/fraternity-house-shuffle/">Fraternity house shuffle</a> - map of North Campus's Fraternity Quad</li>
				<li><a href="http://www.northbynorthwestern.com/story/a-comprehensive-guide-to-evanston-eateries/">A comprehensive guide of Evanston eateries</a> - map of Evanston restaurants with filters for different price ranges</li>
				<li><a href="http://www.northbynorthwestern.com/story/leaving-northwestern-to-backpack-the-country/">Leaving Northwestern to backpack the country</a> - map and images of one Northwestern student's backpacking trip across the United States</li>
			</ul>
			<br />
			<p><a href="http://leafletjs.com/">Leaflet</a><br />An open-source JavaScript library for mobile-friendly interactive maps</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/thirsty/">Thirsty?</a> - magazine tie-in mapping the ratings of various water fountains on campus</li>
			</ul>
			<br />
			<p><a href="https://datawrapper.de/">Datawrapper</a><br />tool that creates simple, embeddable charts</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/with-sustainability-efforts-northwestern/">With sustainability efforts, Northwestern is still following the leader</a> - comparison of Northwestern to other colleges in facility management and energy efficiency</li>
			</ul>
			<br />
			<p><a href="http://d3js.org">D3</a><br />JavaScript library that manipulates documents based on data using HTML, SVG, and CSS</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/a-decade-of-degrees/">A decade of degrees</a> - data visualization and stories about trends in different majors at Northwestern in the past ten years</li>
				<li><a href="http://www.northbynorthwestern.com/story/absentee-ballot-deadlines/">Absentee ballot deadlines</a> - map of the fifty states and each of their absentee ballot deadlines for the 2014 midterm election</li>
			</ul>
		</div>

		<div class="tools-container">
			<h2>Audio and Video</h2>
			<p><a href="http://soundcite.knightlab.com">SoundCiteJS</a><br />Inline audio players for embedding short clips of music, spoken word, or natural sound</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/ao-benefit-announcement/">A&O announces lineup for spring benefit concert</a> - announcement of performers for A&O's spring benefit concert</li>
			</ul>
			<br />
			<p><a href="https://vimeo.com/">Vimeo</a><br />Embed Vimeo videos, can also be used for full-width videos</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/view-from-the-sidelines/">View from the sidelines</a> - collaboration between Video and Interactive on three different perspectives of Northwestern's 2013 Homecoming game</li>
			</ul>
			<br />
			<p><a href="http://youtube.com">Youtube</a><br />Embed Youtube videos</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/wtf-am-i-watching/">WTF am I watching??</a> - explaining the brilliance of six b-horror movies</li>
			</ul>
		</div>

		<div class="tools-container">
			<h2>Images</h2>
			<p><a href="http://juxtapose.knightlab.com/">JuxtaposeJS</a><br />Image slider for comparing photos and gifs to highlight then/now or before/after stories</p>
			<br />
			<p><a href="http://lokeshdhakar.com/projects/lightbox2/">Lightbox</a><br />Pop out images, great for showcasing scanned documents or images</p>
			<div class="example"><span>As Seen on NBN</span></div>
			<ul>
				<li><a href="http://www.northbynorthwestern.com/story/belated-messages-to-the-ones-that-got-away/">Belated messages to the ones that got away</a> - handwritten letters for Valentine's Day to the ones that got away</li>
				<li><a href="http://www.northbynorthwestern.com/story/history-of-political-activism-through-pictures/">History of political activism through pictures</a> - visual history of Northwestern activism from Northwestern's archives</li>
			</ul>
		</div>

		<div class="tools-container">
			<h2>Social Media</h2>
			<p><a href="https://storify.com/">Storify</a><br />Social storytelling by embedding tweets, photos, gifs, videos, and audio</p>
		</div>

		<div class="tools-container">
			<h2>Quizzes and Flowcharts</h2>
			<p><a href="http://nbnwebtools.herokuapp.com/quiz">NBN Quiz Generator</a><br />Use spreadsheets to create interactive multiple choice quizzes, flowcharts, and true/false quizzes</p>
		</div>
	</div>

	<div id="practices" class="section">
		<h2>Best practices for working with NBNteractive</h2>
		<p><b>First,</b> brainstorm what you envision for your project. What kind of story are you trying to tell and how can interactive elements communicate it? Approach the interactive editors with some ideas - you (as the writer or editor) understand the story best. If you aren't sure how to translate your story to the web, pick out key elements you wish to highlight (i.e. photos, nonlinear narrative, data analysis and explanation) and discuss it with NBNteractive.</p>
		<br />
		<p><b>Second,</b> make sure you aren't adding interactivity just for interactivity's sake. It's great to want to do something with parallax scrolling (because sometimes it looks really cool), but remember that every visual or interactive design choice should serve a purpose that helps the reader in some way. Although it's important to know the types of tools and technologies available for you, it's equally important to lead with ideas.</p>
		<br />
		<p><b>Third,</b> work closely with Interactive throughout the reporting process. Traditionally, the Interactive section has been a service desk where people hand off finished stories and ask "make this interactive." Though this may apply for some stories (especially if they're time sensitive), there's less visually interesting things that can be done with it. It's like making brownies - if you thrust a freshly-baked batch at someone and ask them to make mint chocolate chip brownies, they might be able to put some on the top, but it won't taste half as good as it would've been if you'd added the mint chocolate chips before they went in the oven. Work with Interactive even when it's just a half-baked idea: we'll make it delicious.</p>
		<br />
		<p>For most projects (low or medium touch), allow at least 2 weeks for the interactive team to work on your project.</p>
		<h2>Levels of Interactivity</h2>
		<p><strong>Low touch</strong><br />Reusing existing templates (click on map points for a corresponding story, image landing page, click and fade buttons, parallax stories, button stories, documents, slideshows)</p>
		<br />
		<p><strong>Medium touch</strong><br />Something must be custom built but the project will be "built within the CMS."</p>
		<br />
		<p><strong>High touch</strong><br />Something must be custom built "outside of the CMS."</p>
	</div>
	
	<div id="contact" class="section">
		<h2>Contact</h2>
		<p class="contact">Questions? Comments? Send Nicole an <a href="mailto:nzhu94@gmail.com">email</a></p>
	</div>
</div>